extends ../layout

block content
  .container
    h1.main-title Contests

    table.table.table-hover
      thead
        tr
          th Title
          th Company, Manager
          th Period
          th Created at
          th
      tbody
        each contest in contests
          tr
            td
              a(href=`/admin/contest/${contest._id}`)= contest.title
            td= contest.company, ',' ,contest.manager
            td= contest.startdate ,'~' ,contest.enddate 
            td= moment(contest.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td
              a.btn.btn-sm.btn-outline-secondary(href=`/admin/contest/${contest._id}/edit`) 
                | #[i.fa.fa-pencil] Edit
              | 
              a.btn.btn-sm.btn-outline-danger(href=`/admin/contest/${contest._id}?_method=DELETE`)
                | #[i.fa.fa-trash] Delete

    