include _paginate

table.table.table-hover
  thead
    tr
      th Title
      th Company, Manager
      th Period
      th Created at
  tbody
    each contest in contests
      tr
        td
          a(href=`/contest/${contest._id}`)= contest.title
        td= contest.company + ', '+ contest.manager
        td= moment(contest.startdate).format('YYYY-MM-DD') + ' ~ ' + moment(contest.enddate).format('YYYY-MM-DD') 
        td= moment(contest.createdAt).format('YYYY-MM-DD')
        if currentUser
          if currentUser.auth =="admin"
            td
              a.btn.btn-sm.btn-outline-secondary(href=`/contest/${contest._id}/edit`) 
                | #[i.fa.fa-pencil] Edit
              | 
              a.btn.btn-sm.btn-outline-danger(href=`/contest/${contest._id}?_method=DELETE`)
                | #[i.fa.fa-trash] Delete