.comment.card(id= comment.id)
  .numbers.like-badge
    .number
      span.number.num-likes= comment.numLikes
    .button
      a.like.comments-like-btn(href='#', data-id=comment.id)
        i.fa.fa-thumbs-up
        | 
        | Like
  .numbers.hate-badge
    .number
      span.number.num-hates= comment.numHates
    .button
      a.like.comments-hate-btn(href='#', data-id=comment.id)
        i.fa.fa-thumbs-down
        | 
        | Hate

  .card-body
    .content= comment.comments
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        |  #{moment(comment.createdAt).format('YYYY-MM-DD')}
        if comment.author
          | 
          | by #[a(href=`/users/${comment.author.id}`)= comment.author.name]
