extends ../layout

block content
  h1.title #{title}

  .sub #{company} / #{startdate} ~ #{enddate}
  .date #{moment(question.startdate).format('YYYY-MM-DD')}, '/', #{moment(question.enddate).format('YYYY-MM-DD')}
  if contest.img 
    img.img-fluid(src=contest.img)
  .details 