extends ../layout

block content
  h1.title #{contest.title}

  .sub #{contest.company} / #{contest.startdate} ~ #{contest.enddate}
  .date #{moment(contest.startdate).format('YYYY-MM-DD')}, '/', #{moment(contest.enddate).format('YYYY-MM-DD')}
  .info '담당자 : ', #{contest.manager}, '전화번호 : ', #{contest.phone}
  
  if contest.img 
    img.img-fluid(src=contest.img)
  .details #{contest.content}

  if contest.numAnswers > 0
    hr
    h3 #{contest.numAnswers} Answer(s)
    .answers.show
      each answer in answers
        include _answer